example.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "root">
<xs:complexType>
<xs:sequence>
<xs:element name = "parsererror">
<xs:complexType>
<xs:sequence>
<xs:element type = " xs:string" name = "h3"/>
<xs:element  name = "div">
<xs:complexType >
<xs:simpleContent>
<xs:extension base = "xs:string">
<xs:attribute type="xs:string" name="style" use="optional"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="style" use="optional"/>
</xs:complexType>
</xs:element>
<xs:element type = " xs:string" name = "openapi"/>
<xs:element name = "info">
<xs:complexType>
<xs:sequence>
<xs:element type = " xs:string" name = "version"/>
<xs:element type = " xs:string" name = "title"/>
<xs:element name = "license">
<xs:complexType>
<xs:sequence>
<xs:element type = " xs:string" name = "name"/>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name = "servers">
<xs:complexType>
<xs:sequence>
<xs:element type = " xs:string" name = "url"/>
 </xs:sequence>
</xs:complexType>
</xs:element>
<xs:element type = " xs:byte" name = "paths"/>
 </xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>